.face{
    color: white;
}
h1{
    font-size: 300%;
}
body {
    background-color: skyblue;
  }
.button1 {
    padding-top: 5px;
    display: flex;
    width: 180px;
    background-color: gray;
    border-style: none;
    color: white;
    margin-left: 10px;
    margin-top: 1px;
  }