.mix{
    position: relative;
    height: 720px;
    width: 1280px;
}

.face{
    color: yellow;
    font-size: 200%;
    text-align: center;
}

.context{
    color: yellow;
    font-size: 300%;
    text-align: center;
}

body {
    background-color: skyblue;
  }

  .star{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
  }

  .movie{
      position: absolute;
      height: 100%;

  }